@model App.Web.Models.AddItemViewModel

<h4>Registrara un nuevo articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" type="hidden" />
            <input asp-for="PicturePath" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureFile" class="control-label"></label>
                <input asp-for="PictureFile" placeholder="Seleccionar Imagen" class="form-control" type="file" />
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.PicturePath))
                {
                    <img src="@Url.Content(Model.PicturePath)" alt="Image" style="width:300px;height:300px;max-width: 100%; height: auto;" />
                }

            </div>

            <div class="form-group">
                <label asp-for="Brands" class="control-label"></label>
                <select asp-for="MarcaId" asp-items="Model.Brands" class="form-control"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemTypes" class="control-label"></label>
                <select asp-for="ItemTypeId" asp-items="Model.ItemTypes" class="form-control"></select>
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventario" class="control-label"></label>
                <input asp-for="Inventario" class="form-control" />
                <span asp-validation-for="Inventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Volver atras</a>
            </div>
        </form>
    </div>
</div>


    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
